.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}
.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}
.sidenav li a:hover {
  background: #b07dfb;
}
@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}
@media (max-width: 760px) {
  .sidenav {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .sidenav::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgb(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  .sidenav ul {
    display: flex;
  }
  .sidenav ul li {
    flex: 1 0 60px;
  }
  .sidenav {
    padding: 0 30px;
  }
  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
}
